// fonts

$raleway: 'Raleway', sans-serif;

// colors
$white: #fff;
$darkBlue: #061e37;
$grey: #b0bec5;
$green: #1de9b6;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: $raleway;
}

ul,li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;  
}