@import '_settings';

.header{
    width: 100%;
    height: 750px;
    background: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .container{
        margin: 0 auto;
        max-width: 1300px;
        .nav{
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%; 
            .logo{
                
                a{
                    background: url(../img/logo.png);
                    background-repeat: no-repeat;
                    background-size: cover;
        
                    width: 180px;
                    height: 30px;
                }
            }
            .menu-items{
                display: flex;
                
                .menu-item{
                    margin-left: 2em;
                    a{
                        font-size: 15px;
                        color: $white;
                        font-weight: 600;
                        &:hover{
                            color: $darkBlue;
                        }
                    }
                }
            }
            .sign-up{
                // width: 30%;
                font-weight: 400;
                font-size: 12px;
                color: $white;
                padding: 8px 18px;
                border: 1px solid $white;
                background: transparent;
                cursor: pointer;
                outline: none;
                &:hover{
                    color: $darkBlue;
                }
            }  
        }
        .header-content{
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            }
            .header-content__text{
                max-width: 580px;
                h1{
                  font-size: 55px;
                  color: $white;
                  font-weight: 900;  
                  line-height: 65px;
                }
                h4{
                   font-size: 18px;
                   font-weight: 400;
                   line-height: 35px;
                   color: $white; 
                   
                }
                .header-content__links{
                    margin-top: 30px;
                    a{
                        width: 145px;
                        height: 56px;
                        line-height: 56px;
                        text-align: center;
                        background-color: $white;
                        border-radius: 3px;
                        text-transform: uppercase;
                        color: $darkBlue;
                        font-size: 15px;
                        font-weight: 700;
                        margin-right: 20px;
                        &:hover{
                            color: $white;
                            background-color: $darkBlue;
                            transition: .4s;
                        }
                        
                    }
                    }
            }
            
            }    
}
    
.easy{
    max-height: 800px;
    background-color: #fff;
    .container{
        margin: 0 auto;
        max-width: 1300px;
        .easy-wrap{
            padding-top: 50px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            .logo-text{
                text-align: center;
                max-width: 560px;
                .logo-text__title{
                   font-size: 45px;
                   font-weight: 600;;
                   color: $darkBlue;
                }
                .logo-text__subtitle{
                    font-size: 25px;
                    font-weight: 600;
                    color: $grey;
                    margin: 20px 0;
                }
                .logo-text__descr{
                    font-weight: 600;
                    color: $grey;
                    font-size: 15px;
                    margin-bottom: 70px;
                }
            }
            .easy-items{
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;
                .easy-items__item{
                    text-align: center;
                    width: 30%;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                    .item-title{
                        margin: 20px 0;
                        font-size: 20px;
                        font-weight: 600;
                        color: $darkBlue;
                    }
                    .item-text{
                        font-size: 15px;
                        font-weight: 400;
                        color: $grey;
                        line-height: 20px;
                    }
                }
            }
            .get_start{
                text-transform: uppercase;
                padding: 20px 25px;
                outline: none;
                border: none;
                border-radius: 5px;
                color: $white;
                cursor: pointer;
                background-color: $green;
                font-weight: 700;
                box-shadow: 0px 5px 5px 0px rgb( 0, 0, 0 );
                margin-bottom: 70px;
            }
        }
    }
}   
.info{
    width: 100%;
    .container{
        margin: 0 auto;
        width: 100%;
        .info-items{
            display: flex;
            width: 100%;
            .info-items__item-1{
                img{
                    margin-left: 60px;
                }
                display: flex;
                width: 25%;
                justify-content: flex-start;
                align-items: center;
                height: 150px;
                background-color: #80d8ff;
                p{
                    margin-left: 10px;
                    color: $white;
                    font-weight: 800;
                }
            }
            .info-items__item-2{
                img{
                    margin-left: 60px;
                }
                display: flex;
                width: 25%;
                justify-content: flex-start;
                align-items: center;
                height: 150px;
                background-color: #82b1ff;
                p{
                    margin-left: 10px;
                    color: $white;
                    font-weight: 800;
                }
            }
            .info-items__item-3{
                img{
                    margin-left: 60px;
                }
                display: flex;
                width: 25%;
                justify-content: flex-start;
                align-items: center;
                height: 150px;
                background-color: #b388ff;
                p{
                    margin-left: 10px;
                    color: $white;
                    font-weight: 800;
                }
            }
            .info-items__item-4{
                img{
                    margin-left: 60px;
                }
                display: flex;
                width: 25%;
                justify-content: flex-start;
                align-items: center;
                height: 150px;
                background-color: #ea80fc;
                p{
                    margin-left: 10px;
                    color: $white;
                    font-weight: 800;
                }
            }
            
            
        }
    }
} 
.services{
    width: 100%;
    .container{
        margin: 0 auto;
        max-width: 1300px;
        .services-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            .logo-text{
                text-align: center;
                max-width: 560px;
                margin-top: 60px;
                .logo-text__title{
                    font-size: 45px;
                   font-weight: 600;;
                   color: $darkBlue;
                }
                .logo-text__descr{
                    font-weight: 600;
                    color: $grey;
                    font-size: 15px;
                    margin-bottom: 70px;
                }
            }
        }
    }
}
   

@media screen and (max-width: 800px) {
    .header-content{
        display: flex;
        flex-direction: column;
    }    
}    